#open-search {
  position: relative;
  z-index: 1000;
  pointer-events: none;
  background: #FFF;
  min-height: 110px;
  width: 98%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.11);
  border-radius: 4px;
  height: 98%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 1%;
  background: #f7f6f2;
}

#open-search-header {
  padding: 5px;
  padding-left:2%;
  background: #EEE;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1em;
  pointer-events:auto;
  color: rgba(172, 172, 172, 0.7);
  text-shadow: 1px 1px 1px #EEE, 0 0 0 #EEE, 1px 2px 4px #EEE;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

#open-search-content {
  width: 100%;
  pointer-events: auto;
  height: 100%;
  overflow: hidden;
}

#open-search-input {
  width:95%;
  display: block;
  margin:auto;
  margin-top: 10px;
  border-radius: 2px;
  padding: 5px;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #B7B7B7;
}

#open-search-results-container {
  height: 100%;
  width:100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top:10px;
}

#open-search-results-list {
  padding-left: 0px;
  width: 97%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  display: block;
}

#open-search-meta {
  width:97%;
  margin: auto;
  margin-bottom:4px;
}

.open-search-result-img {
  width:50px;
  height:50px;
  border-radius: 50px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); filter: grayscale(100%); 
  border:4px solid #EEE;
}

.open-search-result-left {
  width:65px;
  float: left;
}

.open-search-result-right {
  width:auto;
  display: inline block;
}
.open-search-result {
  list-style: none;
  position: relative;
  background:#FDFDFD;
  border: 1px solid #EEE;
  padding: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 7px;
  overflow: hidden;
  -webkit-animation:pop-in 0.5s;
  -moz-animation:pop-in 0.5s;
  -ms-animation:pop-in 0.5s;
}

.open-search-result:hover {
  background:#FFF;
  cursor: pointer;
  border:1px dashed #666;
}

.open-search-empty {
  text-align: center;
}

.open-search-result-stat-container {
  float: left;
  margin-right:10px;
  margin-top:3px;
}

.open-search-result-stat {
  font-size:18px;
}

.open-search-stat-title {
  font-size: 8px;
}


.open-search-result-title {
  font-weight: 600;
  font-size: 14px;
  pointer-events:none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  width: auto;
}

.open-search-result-desc {
  font-size: 12px;
  width:auto;
  height: 17px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events:none;
  font-weight: 500;
}

.open-search-result-feature-count {
  font-size: 12px; 
  position: absolute;
  right: 10px;
  top: 18px;
  pointer-events:none;
}

.open-search-loader:before,
.open-search-loader:after,
.open-search-loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.open-search-loader {
  display: none;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  margin-top:5px;
}
.open-search-loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.open-search-loader:after {
  left: 3.5em;
}
.open-search-loader:before,
.open-search-loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #23a5ca;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #23a5ca;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #23a5ca;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #23a5ca;
  }
}

@-webkit-keyframes pop-in {
  0% { opacity: 0; -webkit-transform: scale(0.5); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
  0% { opacity: 0; -moz-transform: scale(0.5); }
  100% { opacity: 1; -moz-transform: scale(1); }
}
@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}